In [21]:
import pandas as pd
import random as rd
import numpy as np
import sys
import csv
import time
from span.create_grid import create_grid
from math import prod

teffA = np.linspace(10, 18, 9, dtype=int)
loggA = [18, 20, 22, 24, 26, 28, 30]
rotA = np.linspace(0, 70, 8, dtype=int)
teffB = [16, 18, 20, 22, 24, 26, 28, 30, 32.5, 35, 37.5]
loggB = [20, 22.5, 25, 27.5, 30, 32.5, 35, 37.5, 40, 42.5, 45]
rotB = list(range(0, 600, 50))
lrat = np.linspace(1, 3, 5)/10
he2h = np.linspace(5, 12, 8)/100
columns=['lrat', 'He2H', 'teffA', 'loggA', 'rotA', 'teffB', 'loggB', 'rotB']
pars_list1 = [lrat, he2h, teffA, loggA, rotA, teffB, loggB, rotB]
print(prod([len(x) for x in pars_list1]))
29272320

29272320

In [ ]:

minigrid = create_grid(*pars_list1)
df = pd.DataFrame(minigrid, columns=columns)

ti = time.time()
df_dic = df.to_dict('index')
tf = time.time()
print('convert df to dic takes:', str(tf-ti)+'s')

# ti = time.time()
# new_dict = dict(zip(columns, minigrid))
# tf = time.time()
# print('create dic from keys and values takes:', str(tf-ti)+'s')

# display(df_dic)
# display(new_dict)
# sys.exit()
v = df.values

In [4]:

print('starting test...\n')
# append in dictionary
t0 = time.time()
result_dic = {'lrat': [], 'He2H': [], 'teffA': [], 'loggA': [], 'rotA': [], 'teffB': [], 'loggB': [], 'rotB': []}
for row in range(df.shape[0]):
    result_dic['lrat'].append(v[row, 0])
    result_dic['He2H'].append(v[row, 1])
    result_dic['teffA'].append(v[row, 2])
    result_dic['loggA'].append(v[row, 3])
    result_dic['rotA'].append(v[row, 4])
    result_dic['teffB'].append(v[row, 5])
    result_dic['loggB'].append(v[row, 6])
    result_dic['rotB'].append(v[row, 7])
output = pd.DataFrame.from_dict(result_dic)
display(output)
output.to_feather('testres.feather')
t1 = time.time()
print('appending to dict and converting to dataframe takes: ' + str(t1-t0)+'s')

# iterate over dictionary
t0 = time.time()
result_dic = {'lrat': [], 'He2H': [], 'teffA': [], 'loggA': [], 'rotA': [], 'teffB': [], 'loggB': [], 'rotB': []}
for row in df_dic.keys():
    for column in df_dic[row].keys():
        result_dic[column].append(df_dic[row][column])
output = pd.DataFrame.from_dict(result_dic)
display(output)
output.to_feather('testres.feather')
t1 = time.time()
print('iterating over dic takes: ' + str(t1-t0)+'s')

# write directly in csv
t0 = time.time()
result_dic = {'lrat': [], 'He2H': [], 'teffA': [], 'loggA': [], 'rotA': [], 'teffB': [], 'loggB': [], 'rotB': []}
with open("testres.csv", "w") as f:
    writer = csv.writer(f, delimiter="\t")
    writer.writerow(result_dic.keys())
    for row in range(df.shape[0]):
        result_dic['lrat'] = v[row, 0]
        result_dic['He2H'] = v[row, 1]
        result_dic['teffA'] = v[row, 2]
        result_dic['loggA'] = v[row, 3]
        result_dic['rotA'] = v[row, 4]
        result_dic['teffB'] = v[row, 5]
        result_dic['loggB'] = v[row, 6]
        result_dic['rotB'] = v[row, 7]
        writer.writerow(result_dic.values())
t1 = time.time()
df = pd.read_csv('testres.csv', sep='\t')
display(df)
print('saving every step directly to csv takes: ' + str(t1-t0)+'s')

#using for loops instead of grid
t0 = time.time()
result_dic = {'lrat': [], 'He2H': [], 'teffA': [], 'loggA': [], 'rotA': [], 'teffB': [], 'loggB': [], 'rotB': []}
for lr in lrat:
    for he in he2h:
        for TA in teffA:
            for gA in loggA:
                for rA in rotA:
                    for TB in teffB:
                        for gB in loggB:
                            for rB in rotB:
                                result_dic['lrat'].append(lr)
                                result_dic['He2H'].append(he)
                                result_dic['teffA'].append(TA)
                                result_dic['loggA'].append(gA)
                                result_dic['rotA'].append(rA)
                                result_dic['teffB'].append(TB)
                                result_dic['loggB'].append(gB)
                                result_dic['rotB'].append(rB)
output = pd.DataFrame.from_dict(result_dic)
display(output)
output.to_feather('testres.feather')
t1 = time.time()
print('several for loops instead of grid takes: ' + str(t1-t0))

#using for loops instead of grid
t0 = time.time()
result_dic = {'lrat': [], 'He2H': [], 'teffA': [], 'loggA': [], 'rotA': [], 'teffB': [], 'loggB': [], 'rotB': []}
with open("testres2.csv", "w") as f:
    writer = csv.writer(f, delimiter="\t")
    writer.writerow(result_dic.keys())
    for lr in lrat:
        for he in he2h:
            for TA in teffA:
                for gA in loggA:
                    for rA in rotA:
                        for TB in teffB:
                            for gB in loggB:
                                for rB in rotB:
                                    result_dic['lrat'] = lr
                                    result_dic['He2H'] = he
                                    result_dic['teffA'] = TA
                                    result_dic['loggA'] = gA
                                    result_dic['rotA'] = rA
                                    result_dic['teffB'] = TB
                                    result_dic['loggB'] = gB
                                    result_dic['rotB'] = rB
                                    writer.writerow(result_dic.values())
# output = pd.DataFrame.from_dict(result_dic)
# display(output)
# output.to_feather('testres.feather')
t1 = time.time()
df = pd.read_csv('testres.csv', sep='\t')
display(df)
print('several for loops but no append: ' + str(t1-t0))

starting test...

          lrat  He2H  teffA  loggA  rotA  teffB  loggB   rotB
0          0.1  0.05   10.0   18.0   0.0   16.0   20.0    0.0
1          0.1  0.05   10.0   18.0   0.0   16.0   20.0   50.0
2          0.1  0.05   10.0   18.0   0.0   16.0   20.0  100.0
3          0.1  0.05   10.0   18.0   0.0   16.0   20.0  150.0
4          0.1  0.05   10.0   18.0   0.0   16.0   20.0  200.0
...        ...   ...    ...    ...   ...    ...    ...    ...
29272315   0.3  0.12   18.0   30.0  70.0   37.5   45.0  350.0
29272316   0.3  0.12   18.0   30.0  70.0   37.5   45.0  400.0
29272317   0.3  0.12   18.0   30.0  70.0   37.5   45.0  450.0
29272318   0.3  0.12   18.0   30.0  70.0   37.5   45.0  500.0
29272319   0.3  0.12   18.0   30.0  70.0   37.5   45.0  550.0

[29272320 rows x 8 columns]

appending to dict and converting to dataframe takes: 278.20885491371155s

          lrat  He2H  teffA  loggA  rotA  teffB  loggB  rotB
0          0.1  0.05     10     18     0   16.0   20.0     0
1          0.1  0.05     10     18     0   16.0   20.0    50
2          0.1  0.05     10     18     0   16.0   20.0   100
3          0.1  0.05     10     18     0   16.0   20.0   150
4          0.1  0.05     10     18     0   16.0   20.0   200
...        ...   ...    ...    ...   ...    ...    ...   ...
29272315   0.3  0.12     18     30    70   37.5   45.0   350
29272316   0.3  0.12     18     30    70   37.5   45.0   400
29272317   0.3  0.12     18     30    70   37.5   45.0   450
29272318   0.3  0.12     18     30    70   37.5   45.0   500
29272319   0.3  0.12     18     30    70   37.5   45.0   550

[29272320 rows x 8 columns]

iterating over dic takes: 235.3149869441986s

          lrat  He2H  teffA  loggA  rotA  teffB  loggB   rotB
0          0.1  0.05   10.0   18.0   0.0   16.0   20.0    0.0
1          0.1  0.05   10.0   18.0   0.0   16.0   20.0   50.0
2          0.1  0.05   10.0   18.0   0.0   16.0   20.0  100.0
3          0.1  0.05   10.0   18.0   0.0   16.0   20.0  150.0
4          0.1  0.05   10.0   18.0   0.0   16.0   20.0  200.0
...        ...   ...    ...    ...   ...    ...    ...    ...
29272315   0.3  0.12   18.0   30.0  70.0   37.5   45.0  350.0
29272316   0.3  0.12   18.0   30.0  70.0   37.5   45.0  400.0
29272317   0.3  0.12   18.0   30.0  70.0   37.5   45.0  450.0
29272318   0.3  0.12   18.0   30.0  70.0   37.5   45.0  500.0
29272319   0.3  0.12   18.0   30.0  70.0   37.5   45.0  550.0

[29272320 rows x 8 columns]

saving every step directly to csv takes: 142.09574484825134s

          lrat  He2H  teffA  loggA  rotA  teffB  loggB  rotB
0          0.1  0.05     10     18     0   16.0   20.0     0
1          0.1  0.05     10     18     0   16.0   20.0    50
2          0.1  0.05     10     18     0   16.0   20.0   100
3          0.1  0.05     10     18     0   16.0   20.0   150
4          0.1  0.05     10     18     0   16.0   20.0   200
...        ...   ...    ...    ...   ...    ...    ...   ...
29272315   0.3  0.12     18     30    70   37.5   45.0   350
29272316   0.3  0.12     18     30    70   37.5   45.0   400
29272317   0.3  0.12     18     30    70   37.5   45.0   450
29272318   0.3  0.12     18     30    70   37.5   45.0   500
29272319   0.3  0.12     18     30    70   37.5   45.0   550

[29272320 rows x 8 columns]

several for loops instead of grid takes: 74.25370025634766

          lrat  He2H  teffA  loggA  rotA  teffB  loggB   rotB
0          0.1  0.05   10.0   18.0   0.0   16.0   20.0    0.0
1          0.1  0.05   10.0   18.0   0.0   16.0   20.0   50.0
2          0.1  0.05   10.0   18.0   0.0   16.0   20.0  100.0
3          0.1  0.05   10.0   18.0   0.0   16.0   20.0  150.0
4          0.1  0.05   10.0   18.0   0.0   16.0   20.0  200.0
...        ...   ...    ...    ...   ...    ...    ...    ...
29272315   0.3  0.12   18.0   30.0  70.0   37.5   45.0  350.0
29272316   0.3  0.12   18.0   30.0  70.0   37.5   45.0  400.0
29272317   0.3  0.12   18.0   30.0  70.0   37.5   45.0  450.0
29272318   0.3  0.12   18.0   30.0  70.0   37.5   45.0  500.0
29272319   0.3  0.12   18.0   30.0  70.0   37.5   45.0  550.0

[29272320 rows x 8 columns]

several for loops but no append: 96.43656206130981

In [30]:
import pandas as pd
from io import StringIO 

# Test data
import pandas as pd
import random as rd
import time

#Given a dataframe from api (model as random numbers)
df_columns = ['A','B','C','D','F','G','H','I']
dict_origin = {col:[rd.randint(0,10) for x in range(0,1000)] for col in df_columns}
dict_origin = pd.DataFrame(dict_origin)
display(dict_origin)

#Transform to pivot table
t0 = time.time()
df_pivot = pd.pivot_table(dict_origin,values=df_columns[-3:],index=df_columns[:-3])
display(df_pivot)
t1 = time.time()
print('Pivot Construction takes: ' + str(t1-t0))

#Iterate over all elements in pivot table
t0 = time.time()
for column in df_pivot.columns:
    for row in df_pivot[column].index:
        test = df_pivot[column].loc[row]
t1 = time.time()
print('Dataframe iteration takes: ' + str(t1-t0))

#Iterate over all values in pivot table
t0 = time.time()
v = df_pivot.values
for row in range(df_pivot.shape[0]):
    for column in range(df_pivot.shape[1]):
        test = v[row, column]
t1 = time.time()
print('Iteration over values takes: ' + str(t1-t0))


#Iteration over dataframe too slow. Cast to dictionary (bottleneck)
t0 = time.time()
df_pivot = df_pivot.to_dict('index')
t1 = time.time()
print('Cast to dictionary takes: ' + str(t1-t0))

#Iteration over dictionary is much faster
t0 = time.time()
for row in df_pivot.keys():
    for column in df_pivot[row]:
        test = df_pivot[row][column]
t1 = time.time()
print('Iteration over dictionary takes: ' + str(t1-t0))

      A   B  C   D   F   G   H   I
0     8   9  3   5  10   6   0   9
1    10   2  2   6   9  10   4   1
2     2   3  0   6   5   8  10   9
3     1   0  0  10   7   1   4  10
4     9   0  6   6   6   7   3   6
..   ..  .. ..  ..  ..  ..  ..  ..
995   7   3  6  10   9  10   3   0
996   1  10  5   2   9   8   3   1
997   9  10  1   9   9   6   4   8
998   6   3  8   1   4   1   5   7
999   4   1  4   3   5   1   4   1

[1000 rows x 8 columns]

                   G     H     I
A  B  C  D  F
0  0  1  8  7   10.0   3.0   2.0
      5  10 1    5.0   0.0   5.0
      7  8  6    0.0   4.0  10.0
      9  10 4    8.0   3.0   2.0
   1  4  4  10   6.0   1.0   1.0
...              ...   ...   ...
10 9  9  5  9    8.0   1.0   6.0
   10 5  10 6    6.0   3.0   0.0
      7  5  4    6.0   9.0   9.0
      10 2  6    0.0   4.0   0.0
         4  4    9.0  10.0   5.0

[995 rows x 3 columns]

Pivot Construction takes: 0.024243831634521484
Dataframe iteration takes: 0.17848539352416992
Iteration over values takes: 0.002485036849975586
Cast to dictionary takes: 0.0024640560150146484
Iteration over dictionary takes: 0.0005857944488525391

In [36]:
df_dic[0]['lrat']

0.1

In [48]:
for x in df_dic[0].keys():
    print(x)

lrat
He2H
teffA
loggA
rotA
teffB
loggB
rotB

In [2]:
datadic = {col : row for col,row in zip(columns, pars_list1)}
datadic

{'lrat': array([0.1 , 0.15, 0.2 , 0.25, 0.3 ]),
 'He2H': array([0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11, 0.12]),
 'teffA': array([10, 11, 12, 13, 14, 15, 16, 17, 18]),
 'loggA': [18, 20, 22, 24, 26, 28, 30],
 'rotA': array([ 0, 10, 20, 30, 40, 50, 60, 70]),
 'teffB': [16, 18, 20, 22, 24, 26, 28, 30, 32.5, 35, 37.5],
 'loggB': [20, 22.5, 25, 27.5, 30, 32.5, 35, 37.5, 40, 42.5, 45],
 'rotB': [0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550]}

In [5]:
for x in datadic:
    print(x)
    for y in datadic[x]:
        print(y)

lrat
0.1
0.15
0.2
0.25
0.3
He2H
0.05
0.06
0.07
0.08
0.09
0.1
0.11
0.12
teffA
10
11
12
13
14
15
16
17
18
loggA
18
20
22
24
26
28
30
rotA
0
10
20
30
40
50
60
70
teffB
16
18
20
22
24
26
28
30
32.5
35
37.5
loggB
20
22.5
25
27.5
30
32.5
35
37.5
40
42.5
45
rotB
0
50
100
150
200
250
300
350
400
450
500
550

In [17]:
#using for loops instead of grid
t0 = time.time()
result_dic = {'lrat': [], 'He2H': [], 'teffA': [], 'loggA': [], 'rotA': [], 'teffB': [], 'loggB': [], 'rotB': []}
for lr in datadic['lrat']:
    for he in datadic['He2H']:
        for TA in datadic['teffA']:
            for gA in datadic['loggA']:
                for rA in datadic['rotA']:
                    for TB in datadic['teffB']:
                        for gB in datadic['loggB']:
                            for rB in datadic['rotB']:
                                result_dic['lrat'].append(lr)
                                result_dic['He2H'].append(he)
                                result_dic['teffA'].append(TA)
                                result_dic['loggA'].append(gA)
                                result_dic['rotA'].append(rA)
                                result_dic['teffB'].append(TB)
                                result_dic['loggB'].append(gB)
                                result_dic['rotB'].append(rB)
output = pd.DataFrame.from_dict(result_dic)
display(output)
output.to_feather('testres.feather')
t1 = time.time()
print('several for loops instead of grid takes: ' + str(t1-t0))

          lrat  He2H  teffA  loggA  rotA  teffB  loggB  rotB
0          0.1  0.05     10     18     0   16.0   20.0     0
1          0.1  0.05     10     18     0   16.0   20.0    50
2          0.1  0.05     10     18     0   16.0   20.0   100
3          0.1  0.05     10     18     0   16.0   20.0   150
4          0.1  0.05     10     18     0   16.0   20.0   200
...        ...   ...    ...    ...   ...    ...    ...   ...
29272315   0.3  0.12     18     30    70   37.5   45.0   350
29272316   0.3  0.12     18     30    70   37.5   45.0   400
29272317   0.3  0.12     18     30    70   37.5   45.0   450
29272318   0.3  0.12     18     30    70   37.5   45.0   500
29272319   0.3  0.12     18     30    70   37.5   45.0   550

[29272320 rows x 8 columns]

several for loops instead of grid takes: 77.33429598808289

In [19]:
datalist = [list(l) for l in pars_list1]
for l in datalist:
    print(type(l))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [20]:
#using for loops over arrays
t0 = time.time()
result_dic = {'lrat': [], 'He2H': [], 'teffA': [], 'loggA': [], 'rotA': [], 'teffB': [], 'loggB': [], 'rotB': []}
for lr in datalist[0]:
    for he in datalist[1]:
        for TA in datalist[2]:
            for gA in datalist[3]:
                for rA in datalist[4]:
                    for TB in datalist[5]:
                        for gB in datalist[6]:
                            for rB in datalist[7]:
                                result_dic['lrat'].append(lr)
                                result_dic['He2H'].append(he)
                                result_dic['teffA'].append(TA)
                                result_dic['loggA'].append(gA)
                                result_dic['rotA'].append(rA)
                                result_dic['teffB'].append(TB)
                                result_dic['loggB'].append(gB)
                                result_dic['rotB'].append(rB)
output = pd.DataFrame.from_dict(result_dic)
display(output)
output.to_feather('testres.feather')
t1 = time.time()
print('several for loops instead of grid takes: ' + str(t1-t0))

          lrat  He2H  teffA  loggA  rotA  teffB  loggB  rotB
0          0.1  0.05     10     18     0   16.0   20.0     0
1          0.1  0.05     10     18     0   16.0   20.0    50
2          0.1  0.05     10     18     0   16.0   20.0   100
3          0.1  0.05     10     18     0   16.0   20.0   150
4          0.1  0.05     10     18     0   16.0   20.0   200
...        ...   ...    ...    ...   ...    ...    ...   ...
29272315   0.3  0.12     18     30    70   37.5   45.0   350
29272316   0.3  0.12     18     30    70   37.5   45.0   400
29272317   0.3  0.12     18     30    70   37.5   45.0   450
29272318   0.3  0.12     18     30    70   37.5   45.0   500
29272319   0.3  0.12     18     30    70   37.5   45.0   550

[29272320 rows x 8 columns]

several for loops instead of grid takes: 69.44925904273987

In [22]:
testlist =np.linspace(1, 10, 10)
testlist[:8]

array([1., 2., 3., 4., 5., 6., 7., 8.])

In [25]:
testlist + 2
testlist

array([ 3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.])

In [26]:
72/9

8.0

In [27]:
8*60*0.1

48.0

In [28]:
131*9/60

19.65

In [30]:
(120+11)*9/60

19.65

In [33]:
np.linspace(15,30,4)/100

array([0.15, 0.2 , 0.25, 0.3 ])